# dependencies
node_modules/

# build files
dist/
build/

# env files
.env
.env.*
!.env.example

# logs
*.log

# database
*.db
*.db-shm
*.db-wal

# uploads
uploads/

# system files
.DS_Store

# test coverage
coverage/
